body {
  background-image: url("/public/imgs/chrisHristovUnsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  color: #121212;
  font-size: 10rem;
}